.top{
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: rgb(148, 1, 1);
    top: 0;
    left: 0;
    display: flex;
    
    
}


.logo{
    margin-left: 60px;
}
.title{
    margin-left: 170px;
    margin-top: 15px;
    font-size: xx-large;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.search{
    
    align-self: center;
    
    right: 30%;
    position: fixed;
}

.input-search{
    width: 600px;
    //height: 34px;
    padding: 10px;
    border-radius: 17px;
    border: transparent;
    text-align: center;
}

.books{
    margin: 100px 90px;

}